body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:44px;
  width:17px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:100px;
  width:320px;
  height:213px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:213px;
}
#u5 {
  position:absolute;
  left:2px;
  top:98px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:18px;
  top:320px;
  width:325px;
  height:490px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:490px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:23px;
  width:360px;
  height:66px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
}
#u9 {
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:130px;
  top:46px;
  width:101px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:60px;
  top:29px;
  width:1px;
  height:54px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:54px;
}
#u13 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:89px;
  width:360px;
  height:1px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:150px;
  top:90px;
  width:80px;
  height:720px;
  overflow:hidden;
  touch-action:none;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:720px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:20px;
  top:44px;
  width:17px;
  height:26px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
