body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:540px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:540px;
}
#u2 {
  position:absolute;
  left:2px;
  top:262px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:36px;
  top:99px;
  width:289px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:130px;
  width:325px;
  height:89px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:89px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:23px;
  width:360px;
  height:66px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
}
#u8 {
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:160px;
  top:46px;
  width:41px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:20px;
  top:44px;
  width:17px;
  height:26px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:60px;
  top:29px;
  width:1px;
  height:54px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:89px;
  width:360px;
  height:1px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:20px;
  top:219px;
  width:320px;
  height:213px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:213px;
}
#u18 {
  position:absolute;
  left:2px;
  top:98px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:15px;
  top:440px;
  width:330px;
  height:89px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:89px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
